---
---

$hover: #ffff9e;

/* Base */
/* ----------------------------------------------------------*/

@import 'base-reset.scss';
@import 'typography.scss';
@import 'responsive-states.scss';
@import 'utility-white-space.scss';
@import 'utility-layout.scss';
@import 'header.scss';
@import 'grid.scss';
@import 'blog.scss';
@import 'blog-tr.scss';
@import 'contact.scss';
@import 'footer.scss';

/*
body {
  cursor: url(/images/pointer.png), auto;
}
*/


#top, #bottom, #left, #right {
  background: black;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

  .container-color-gray {
    background-color: #EEEEEE;
  }

  img.icons {
    padding-top: 5px;
    width: 25px;
  }

  .img-shadow {
    box-shadow: 0px 0px 16px 4px #bcbcbc;
    background-color: white;
  }

  .logo a {
    font-size: 20px;
    font-family: 'gt_walsheim_medium', 'helvetica'; 
    float: left;
    padding: 38px 0 0 35px;
    color: black;
    text-decoration: none;
  }

  .logo a:hover {
    text-shadow: 4px 4px 0px $hover;
  }

  .loading-gif {
    display:block;
    margin: 0 auto;
  }