.list-reset {
  list-style: none;
  padding-left: 0;

  li {
  	display: inline;
  }

  .nav-on {
  	border-bottom: 8px solid #EEEEEE;
  }
}

 ul.header-list li a {
	font-family: courier;
	color: black;
	text-decoration: none;
  padding: 2px;
}

ul.header-list li a:hover {
    background-color: $hover;
    padding: 2px;
}

.header-list {
  float: right;
}

  /******Responsive Header ******/
  
  @media #{$breakpoint-sm} {
    .header-list {
      float: left;
      margin-left: 2em;
   }
  }