<footer>
	<div class="footer-body col col-12">
				
		<div class="col col-9">
			<p class="rights pl2 mb0"> Matthew D. Williams</p>
		</div>
		
		<div class="col sm-col-12 md-col-3 pt2">
		    <p class="icons mt0 mb0 pr2 sm-ml2 md-ml0 sm-mb2 md-mb0 right">
		        <a href="https://www.facebook.com/matthew.derrell.williams">
		        	<img src="/images/facebook.svg" width="25">
		        </a>
		        <a href="http://instagram.com/derrellwilliams"> 
		        	<img src="/images/instagram.svg" width="25">
		        </a>
		        <a href="http://dribbble.com/derrellwilliams">
		        	<img src="/images/dribbble.svg" width="25">
		        </a>
		        <a href="http://twitter.com/derrellwilliams">
		        	<img src="/images/twitter.svg" width="25">
		        </a>
		        <a href="http://latecongregate.tumblr.com">
		        	<img src="/images/tumblr.svg" width="25">
		        </a>
		        <a href="https://github.com/derrellwilliams">
		        	<img src="/images/github.svg" width="25">
		        </a>
		        <a href="http://linkedin.com/in/matthewderrellwilliams">
		        	<img src="/images/linkedin.svg" width="25">
		        </a>
		    </p>
		</div>
		
		<div class="col col-12 mrup">  
		    <p class="versions mt0 ml2 mb0">
		    	Older Versions:
		    	<a class="version-link" href="/v3/index.html">v3</a>
		    	<a class="version-link" href="/v4/index.html">v4</a>
		    </p>
		</div>

    </div>
</footer>
