/* line 3, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
::selection {
  background: #ffff9e; }

/* line 4, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
::-moz-selection {
  background: #ffff9e; }

/* line 5, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
img::selection {
  background: transparent; }

/* line 6, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
img::-moz-selection {
  background: transparent; }

/* line 7, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
body {
  -webkit-tap-highlight-color: #ffff9e; }

/* line 17, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
body {
  background-color: #e5e5e5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important; }

/* line 23, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
a {
  text-decoration: none;
  color: #474747; }

/* line 35, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
.group:after {
  content: "";
  display: table;
  clear: both; }

/* line 41, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
#header {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0; }
  /* line 49, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  #header .logo {
    font-family: 'gt_walsheim_bold', 'helvetica';
    font-size: 25px;
    float: left;
    margin: 14px 0 0 20px;
    color: #00b490;
    border: 4px solid #eaeaea;
    padding: 1px 5px 1px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  /* line 60, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  #header a:hover .logo {
    border: 4px solid #5a5090;
    color: #5a5090; }
  /* line 66, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  #header img {
    float: left;
    margin: 15px 0 0 20px; }
  /* line 71, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  #header ul {
    list-style: none;
    float: right;
    padding: 8px; }
    /* line 76, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
    #header ul li {
      display: inline;
      font-family: 'gt_walsheim_bold','helvetica';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 1px;
      padding-right: 30px;
      color: #474747; }
      /* line 86, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
      #header ul li :hover {
        border-bottom: 3px solid #5a5090;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }

/* line 94, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
footer {
  background-color: #343434;
  height: 77px;
  width: 100%;
  clear: both;
  margin-top: 30px; }
  /* line 101, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  footer .rights {
    float: left;
    font-family: 'gt_walsheim_bold', 'helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    margin: 25px 0 0 20px; }
  /* line 112, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  footer .versions {
    font-family: 'gt_walsheim_bold', 'helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    color: #9c9a9a;
    margin: 10px 0 0 20px;
    text-align: left;
    clear: both;
    padding: 0;
    line-height: 0px; }
    /* line 125, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
    footer .versions a {
      color: #807e7e; }

/* line 131, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
#about_footer {
  margin-top: 0px; }

/* line 135, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
#contact_footer {
  bottom: 0;
  position: absolute; }

@media screen and (max-width: 480px) {
  /* line 142, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  #header {
    height: 100px; }
    /* line 145, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
    #header .logo {
      float: none;
      text-align: center;
      margin: 14px 14px 5px 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    /* line 152, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
    #header ul {
      list-style: none;
      float: none;
      padding: 0px;
      text-align: center;
      margin-top: 7px; }
      /* line 159, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
      #header ul li {
        padding-right: 28px;
        color: #474747; }
        /* line 163, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
        #header ul li:last-child {
          padding-right: 0px; }

  /* line 169, /Users/matthewwilliams/portfolio_v4/source/stylesheets/main.scss */
  .rights {
    display: none; } }
/* line 3, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.hero_image {
  position: relative;
  top: 0;
  height: 470px;
  background-color: #00b490;
  background-image: url("images/hero_1.jpg");
  background-repeat: none;
  width: 100%;
  background-size: cover; }

@media (min-width: 1350px) {
  /* line 15, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .hero_image {
    background-image: url("images/hero_2.jpg"); } }
/* line 23, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.hero h1 {
  font-family: 'gt_walsheim_medium', helvetica;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  margin: 0px 0 70px 0;
  padding-top: 185px;
  color: #fff;
  line-height: 40px; }

/* line 36, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.work {
  margin-top: 85px; }

/* line 40, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.work_section {
  text-align: center;
  margin-top: 120px; }
  /* line 43, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_section .card {
    border: 9px solid #fff;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    width: 26%;
    position: relative;
    height: 200px; }
    /* line 52, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_section .card .overlay {
      background-color: rgba(0, 180, 144, 0.9);
      height: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      /* line 57, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .work_section .card .overlay:hover {
        background-color: rgba(90, 80, 144, 0.8); }
    /* line 62, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_section .card .project_page {
      margin-top: 2350px; }
    /* line 66, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_section .card p {
      position: absolute;
      top: 42%;
      font-family: 'gt_walsheim_medium', helvetica;
      color: #fff;
      font-size: 22px;
      margin: 0 auto;
      width: 100%; }
    /* line 77, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_section .card img {
      width: 100%;
      top: 0;
      bottom: 0; }

@media (max-width: 850px) {
  /* line 91, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .hero h1 {
    font-size: 35px;
    line-height: 34px; }

  /* line 98, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_section .card {
    width: 40%; } }
@media (max-width: 500px) {
  /* line 107, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .hero h1 {
    font-size: 24px;
    line-height: 28px; }

  /* line 114, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_section .card {
    width: 80%; } }
/* line 120, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.urbancompass {
  background: url(images/urbancompass.jpg) no-repeat;
  background-size: cover; }

/* line 125, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.blackburn {
  background: url(images/blackburn.jpg) no-repeat;
  background-size: cover; }

/* line 131, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.drewandlacey {
  background: url(images/drewandlacey.jpg) no-repeat;
  background-size: cover; }

/* line 136, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.ecofashion {
  background: url(images/eco.jpg) no-repeat;
  background-size: cover; }

/* line 141, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.sovisit {
  background: url(images/sovisit.jpg) no-repeat;
  background-size: cover; }

/* line 146, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.getoutskiing {
  background: url(images/getoutskiing.jpg) no-repeat;
  background-size: cover; }

/* line 151, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.newgoods {
  background: url(images/newgoods.jpg) no-repeat;
  background-size: cover; }

/* line 156, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.afterbedtime {
  background: url(images/afterbedtime.jpg) no-repeat;
  background-size: cover; }

/* line 161, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.baerae {
  background: url(images/baerae.jpg) no-repeat;
  background-size: cover; }

/* line 166, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.westelm {
  background: url(images/westelm.jpg) no-repeat;
  background-size: cover; }

/* line 171, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.rockport {
  background: url(images/rockport.jpg) no-repeat;
  background-size: cover; }

/* line 176, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.letterpress {
  background: url(images/letterpress.jpg) no-repeat;
  background-size: cover; }

/* line 181, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.adornia {
  background: url(images/adornia.jpg) no-repeat;
  background-size: cover; }

/*The About Page*/
/* line 188, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.about_bg {
  background-image: url("images/about2.jpg");
  background-repeat: none;
  background-size: cover; }
  /* line 193, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .about_bg .profile {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    text-align: center;
    background-image: url("images/about_profile2.png");
    top: 140px;
    position: relative; }
  /* line 203, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .about_bg h1 {
    font-family: 'gt_walsheim_medium';
    color: #fff;
    text-align: center;
    max-width: 55%;
    margin: 115px auto;
    padding: 4%;
    font-size: 27px;
    line-height: 42px; }
    /* line 213, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .about_bg h1 a {
      color: #fff;
      border-bottom: 3px solid #fff;
      padding-bottom: 2px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    /* line 221, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .about_bg h1 a:hover {
      color: #5a5090; }

/* line 228, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
#instagram_section h2 {
  padding-top: 25px;
  font-family: 'gt_walsheim_medium';
  color: #5a5090;
  font-size: 25px;
  text-align: center; }

/* line 237, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
#instafeed {
  height: 100%;
  background-color: #e5e5e5;
  width: 100%;
  text-align: center; }
  /* line 244, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  #instafeed img {
    margin: 15px;
    width: 300px;
    border: 9px solid #fff;
    border-radius: 10px;
    max-width: 100%; }

@media (max-width: 480px) {
  /* line 255, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .about_bg {
    margin-top: 20px; }
    /* line 258, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .about_bg h1 {
      max-width: 95%;
      margin: 145px auto;
      padding: 4%;
      font-size: 21px;
      line-height: 32px; }

  /* line 268, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  #instafeed img {
    margin: 15px;
    width: 230px;
    border-radius: 10px;
    max-width: 100%; } }
/*The Individual Work Page*/
/* line 279, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.header_overlay {
  background-color: rgba(0, 180, 144, 0.7);
  z-index: 100;
  height: 380px;
  margin: 0 auto; }

/* line 286, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.container {
  max-width: 1000px;
  width: 85.5%;
  margin: 55px auto; }

/* line 292, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.work_header {
  height: 380px;
  margin-top: 0px; }
  /* line 296, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_header .header_type {
    font-family: 'gt_walsheim_bold';
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-top: 205px;
    text-transform: uppercase;
    letter-spacing: 4px; }

@media (max-width: 420px) {
  /* line 309, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_header .header_type {
    padding-top: 180px; } }
/* line 316, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.uc_header {
  background-image: url("images/urbancompass/uc_header.jpg"); }

/* line 320, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.westelm_header {
  background-image: url("images/westelm/westelm_header.jpg"); }

/* line 324, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.blackburn_header {
  background-image: url("images/blackburn/blackburn_header.jpg"); }

/* line 328, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.letterpress_header {
  background-image: url("images/letterpress/letterpress_header.jpg"); }

/* line 332, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.adornia_header {
  background-image: url("images/adornia/adornia_header.jpg"); }

/* line 336, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.rockport_header {
  background-image: url("images/rockport/rockport_header.jpg"); }

/* line 340, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.ecofashion_header {
  background-image: url("images/ecofashion/ecofashion_header.jpg"); }

/* line 344, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.newgoods_header {
  background-image: url("images/newgoods/newgoods_header.jpg"); }

/* line 348, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.sovisit_header {
  background-image: url("images/sovisit/sovisit_header.jpg"); }

/* line 352, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.afterbedtime_header {
  background-image: url("images/afterbedtime/afterbedtime_header.jpg"); }

/* line 356, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.baerae_header {
  background-image: url("images/baerae/baerae_header.jpg"); }

/* line 360, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.drewandlacey_header {
  background-image: url("images/drewandlacey/drewandlacey_header.jpg"); }

/* line 366, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.work_copy {
  width: 60%;
  text-align: left;
  margin-bottom: 60px;
  float: left; }
  /* line 374, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy h1 {
    margin-top: 5px;
    font-family: 'gt_walsheim_medium';
    font-size: 20px;
    color: #515151; }
  /* line 381, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy p {
    font-family: 'Adelle W01 Light';
    font-size: 16px;
    line-height: 31px;
    color: #575757; }
    /* line 387, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_copy p span {
      font-family: 'gt_walsheim_bold';
      color: #5a5090;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      /* line 393, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .work_copy p span a {
        color: #5a5090;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        /* line 397, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
        .work_copy p span a span {
          position: relative;
          right: 4px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          padding-left: 10px; }
      /* line 407, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .work_copy p span:hover a {
        color: #00b490; }
      /* line 411, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .work_copy p span:hover a span {
        right: -3px; }
  /* line 417, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy p.no_headline {
    margin: 0 auto;
    float: none; }

/* line 423, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.work_copy_centered {
  width: 65%;
  text-align: left;
  margin: 40px auto 130px auto; }
  /* line 429, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy_centered h1 {
    margin-top: 5px;
    font-family: 'gt_walsheim_medium';
    font-size: 20px;
    color: #515151; }
  /* line 436, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy_centered p {
    font-family: 'Adelle W01 Light';
    font-size: 16px;
    line-height: 31px;
    color: #575757; }
    /* line 442, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .work_copy_centered p a {
      color: #5a5090; }
  /* line 447, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy_centered p.no_headline {
    margin: 0 auto;
    float: none; }

@media (max-width: 600px) {
  /* line 455, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy_centered {
    width: 95%;
    margin: 30px auto 60px auto; } }
/* line 464, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.image_row_full img {
  width: 100%;
  height: auto;
  border: 0px;
  border-radius: 0px; }

/* line 472, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.image_row_1 {
  margin: 0px auto; }
  /* line 475, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_1 img {
    margin: 20px auto;
    width: 100%;
    box-shadow: 0px 0px 16px 4px #bcbcbc; }
  /* line 481, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_1 .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc; }

/* line 487, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.image_row_2 {
  margin: 20px auto; }
  /* line 490, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_2 img {
    margin: 20px auto;
    width: 48.66%;
    box-shadow: 0px 0px 16px 4px #bcbcbc; }
  /* line 496, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_2 .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc; }
  /* line 500, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_2 img:first-child {
    margin-right: 2%; }

@media (max-width: 900px) {
  /* line 507, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_2 img {
    margin: 5px auto;
    width: 100%; } }
/* line 514, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.image_row_3 {
  margin: 40px auto; }
  /* line 517, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_3 img {
    margin: 20px auto;
    width: 31.55%;
    margin-right: 2%;
    box-shadow: 0px 0px 16px 4px #bcbcbc; }
  /* line 525, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_3 .no_shadow {
    box-shadow: 0px 0px 0px 0px #bcbcbc; }
  /* line 529, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_3 img:last-child {
    margin-right: 0px; }

@media (max-width: 750px) {
  /* line 537, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .image_row_3 img {
    margin: 0px auto;
    width: 100%; } }
/* line 545, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.project_info {
  background-color: #fff;
  width: 27%;
  height: auto;
  border-radius: 10px;
  padding: 15px 30px 30px 30px;
  float: right; }
  /* line 553, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_info h2 {
    font-family: 'gt_walsheim_medium';
    font-size: 18px;
    text-transform: uppercase;
    color: #5a5090; }
  /* line 560, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_info .service {
    margin: 25px 10px 15px 0px; }
    /* line 563, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_info .service img {
      float: left;
      border: 0;
      padding: 1px 15px 0 0; }
    /* line 569, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_info .service h3 {
      font-family: 'gt_walsheim_medium';
      font-size: 15px;
      color: #515151;
      padding-top: 3px; }

@media (max-width: 815px) {
  /* line 579, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_info {
    float: none;
    width: 80%;
    margin: 0 auto; }

  /* line 585, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy {
    width: 85%;
    float: none;
    margin: 50px auto; } }
@media (max-width: 430px) {
  /* line 594, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_info {
    float: none;
    width: 78%;
    margin: 0 auto; }

  /* line 600, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .work_copy {
    width: 95%;
    float: none;
    margin: 50px auto; }

  /* line 606, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .header_type {
    padding-top: 50px; } }
/* line 613, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.project_selector .card {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 300px; }
  /* line 619, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector .card .overlay {
    background-color: rgba(0, 180, 144, 0.9);
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: -30px; }
    /* line 625, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_selector .card .overlay:hover {
      background-color: rgba(90, 80, 144, 0.8); }
    /* line 629, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_selector .card .overlay:hover span.right {
      right: -30px; }
    /* line 633, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_selector .card .overlay:hover span.left {
      left: -30px; }
/* line 639, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.project_selector p {
  font-family: 'gt_walsheim_bold', helvetica;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 130px; }
  /* line 647, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector p span.right {
    position: relative;
    right: -10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  /* line 653, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector p span.left {
    position: relative;
    left: -10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
/* line 660, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.project_selector .left_selector {
  width: 50%;
  background-color: #00b490;
  float: left;
  height: 100%; }
/* line 667, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.project_selector .right_selector {
  width: 50%;
  background-color: #00b490;
  float: right; }

@media (max-width: 600px) {
  /* line 678, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector .card .overlay {
    margin-top: -22px; }
  /* line 683, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector p {
    font-size: 22px; } }
@media (max-width: 425px) {
  /* line 691, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector .card {
    height: 100px; }
    /* line 694, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .project_selector .card .overlay {
      margin-top: -16px; }
      /* line 696, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .project_selector .card .overlay:hover {
        background-color: rgba(90, 80, 144, 0.8); }
      /* line 700, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .project_selector .card .overlay:hover span.right {
        right: -10px; }
      /* line 704, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
      .project_selector .card .overlay:hover span.left {
        left: -10px; }
  /* line 710, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .project_selector p {
    font-size: 16px;
    padding-top: 40px; } }
/*The Contact Page*/
/* line 719, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
#contact_page {
  background-repeat: none;
  background: url("images/contact.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 728, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.contact_type {
  position: relative;
  margin-top: 20%;
  transform: translateY(-50%); }
  /* line 733, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .contact_type h1 {
    font-family: 'gt_walsheim_medium';
    color: #5a5090;
    text-align: center;
    max-width: 45%;
    margin: 0 auto;
    font-size: 35px;
    line-height: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    /* line 743, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .contact_type h1 a {
      color: #5a5090;
      border-bottom: 3px solid #fff;
      padding-bottom: 2px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    /* line 750, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
    .contact_type h1 a:hover {
      color: #00b490; }

@media (max-width: 970px) {
  /* line 758, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .contact_type h1 {
    max-width: 70%;
    font-size: 30px;
    line-height: 43px;
    margin-top: 35%; } }
@media (max-width: 540px) {
  /* line 769, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .contact_type h1 {
    max-width: 90%;
    font-size: 24px;
    line-height: 33px;
    margin-top: 50%; } }
/*The Song Pages*/
/* line 779, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.alpha-songs {
  margin-bottom: 10px;
  margin: 0 auto; }
  /* line 783, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .alpha-songs .circle-letter {
    font-family: 'gt_walsheim_medium', helvetica;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #5a5090;
    border-radius: 260px;
    color: #fff;
    width: 40px;
    height: 37px;
    text-align: center;
    padding-top: 3px; }
  /* line 799, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .alpha-songs h2 {
    font-family: 'gt_walsheim_medium', helvetica;
    font-size: 34px;
    color: #575757;
    margin: 5px 0 45px 0; }
  /* line 806, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .alpha-songs a:hover {
    color: #5a5090;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 5px solid #00b490;
    padding-bottom: 4px; }

/* line 815, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
.lyrics-container {
  margin: 0 20px; }
  /* line 818, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .lyrics-container .chord {
    font-family: 'gt_walsheim_bold', helvetica;
    color: #5a5090;
    text-align: left; }
  /* line 824, /Users/matthewwilliams/portfolio_v4/source/stylesheets/custom.scss */
  .lyrics-container .lyrics {
    margin: 95px auto;
    font-family: 'Adelle W01 Light';
    font-size: 17px;
    line-height: 35px;
    color: #575757;
    display: block; }
