/* GT Walsheim Web Medium */


@font-face {
    font-family: 'gt_walsheim_medium';
    src: url('/fonts/gt-walsheim-medium-web.eot');
    src: url('/fonts/gt-walsheim-medium-web.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-medium-web.woff') format('woff'),
         url('/fonts/gt-walsheim-medium-web.ttf') format('truetype'),
         url('/fonts/gt-walsheim-medium-web.svg#gt_walsheim_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_medium_oblique';
    src: url('/gt-walsheim-medium-oblique-web.eot');
    src: url('/gt-walsheim-medium-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('/gt-walsheim-medium-oblique-web.woff') format('woff'),
         url('/gt-walsheim-medium-oblique-web.ttf') format('truetype'),
         url('/gt-walsheim-medium-oblique-web.svg#gt_walsheim_medium_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GT Walsheim Web Bold */

@font-face {
    font-family: 'gt_walsheim_bold';
    src: url('/fonts/gt-walsheim-bold-web.eot');
    src: url('/fonts/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-web.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-web.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-web.svg#gt_walsheim_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_bold_oblique';
    src: url('/fonts/gt-walsheim-bold-oblique-web.eot');
    src: url('/fonts/gt-walsheim-bold-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-oblique-web.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-oblique-web.svg#gt_walsheim_bold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


