<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include logo-header-blog.html %}
        <div class="page-content ml4 mr4 sm-ml0 sm-mr0">
          <div class="wrap ml4 mr4 mb4 sm-ml3 sm-mr3">

          {% if page.image_1-2 %}
              <div class="image_1-2 mt2">
                <img src="{{ site.baseurl }}/images/{{ page.image_1-2}}"  alt="{{ page.title }}">
              </div>
          {% endif %}

          {% if page.image_2-2 %}
              <div class="image_2-2 mt2">
                <img src="{{ site.baseurl }}/images/{{ page.image_2-2}}"  alt="{{ page.title }}">
              </div>
          {% endif %}

          <h4>{{ page.image-caption }}</h4>
          <h5> {{ page.date | date: "%B %d, %Y" }} </h5>


          <h1> {{ page.title }} </h1>
          <p> {{ page.copy }} </p>

          {{ content }}
        </div>
      </div>
    {% include footer.html %}
    <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=7183077; 
        var sc_invisible=1; 
        var sc_security="a147fd4f"; 
        </script>
        <script type="text/javascript"
        src="http://www.statcounter.com/counter/counter.js"></script>
        <noscript><div class="statcounter"><a title="website
        statistics" href="http://statcounter.com/"
        target="_blank"><img class="statcounter"
        src="http://c.statcounter.com/7183077/0/a147fd4f/1/"
        alt="website statistics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>